@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    padding: 0 32px;
}

.menu__backdrop{
    display: none;
}

.btn__menu{
    display: none;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    padding: 96px 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    position: relative;
    transition: all 300ms ease;
}

.text--purple{
color: rgb(100,21,255);
}

p{
    line-height: 1.3em;
}

button{
    cursor: pointer;
}

.section__category{
    color: rgb(100,21,255);
    font-size: 18px;
}

.section__title{
    font-size: 48px;
    font-weight: 900;
    padding-top: 24px;
}

.section__para{
    font-size: 18px;
    padding: 24px 0;
    line-height: 1.5em;
}

/* NAV */
#home{
    padding: 0 32px;
}

.nav__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__img{
    width: 40px;
    margin-right: 12px;
}

.logo--text{
    font-size: 24px;
    font-weight: 600;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__links{
    padding: 28px;
}

.nav__link{
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.nav__btn{
    background-color: rgb(100,21,255);
    padding: 12px 32px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

/* NAV EFFECTS */

.logo--text:hover{
    color: rgba(100,21,255,255);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(69, 7, 193);
}

.link__hover--effect:hover {
    color: rgb(82, 17, 210);
    cursor: pointer;
}

.link__hover--effect:hover:after{
position: absolute;
content: "";
height: 3px;
bottom: -3px;
background-color:rgb(69,17,210);
width: 100%;
left: 0;
}

.menu--open .menu__backdrop{
    display: flex;
}

/* HEADER */

.header__wrapper{
    display: flex;
}

.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: left;
}

.header__title{
    font-size: 48px;
}

.header__para{
    font-size: 18px;
    padding: 40px 0;
}

.header__btn--wrapper{
position: relative;
display: flex;
align-items: center;
}

.header__input{
    padding: 24px;
    padding-left: 32px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 40px;
    font-size: 16px;
}

.header__btn{
    position: absolute;
    content: "";
    right: 8px;
    border: none;
    border-radius: 40px;
    background-color: rgb(100,21,255);
    padding: 18px 36px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    
}

.header__figure{
    width: 60%;
    margin-left: 40px;
}

.header__img{
    width: 100%;
}

.customer--text{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    color: lightgray;
}

.customer__img{
    width: 80%;
}

/* FEAUTURES */

.features__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.features{
    display: flex;
    flex-wrap: wrap;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.feature{
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.feature__img{
    height: 25px;
    width: 25px;
}

.feature__info{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.feature__title{
    font-size: 24px;
    margin-bottom: 20px;
}

.feature__para{
    font-size: 16px;
    line-height: 1.5em;
}

/* QUALITY */

.quality__wrapper{
    display: flex;
    text-align: left;
}

.quality__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quality__figure{
    width: 50%;
    margin-left: 60px;
}

.quality__img{
    width: 100%;
    border: 1px solid lightgray;
}

.quality__btn,
.value__btn{
    width: 30%;
    border: none;
    border-radius: 40px;
    background-color:rgb(100,21,255);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;
}

/* STEPS */

.steps__wrapper{
    display: flex;
}

.steps__figure{
    width: 50%;
margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img{
    width: 100%;
}

.steps__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
}



.step{
    display: flex;
    padding-top: 36px;
}

.step__description{
display: flex;
flex-direction: column;
margin-left: 24px;
}

.step--number{
    font-size: 40px;
    font-weight: 600;
    color: gray;
}

.step__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.step__para{
    font-size: 14px;
    width: 80%;
}

/* VALUES */

.values__wrapper{
    display: flex;
}

.values__description{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.value__figure{
    width: 50%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.value__img{
    width: 100%;
}

.values{
    display: flex;
    margin-bottom: 40px;
}

.value{
    margin-right: 24px;
}

.value__top{
    display: flex;
    align-items: center;
    margin: 16px 0;
}

.value__icon{
    background-color: lightgreen;
    border-radius: 100%;
    padding: 8px 14px;
    margin-right: 8px;
}

/* PRICING */

.pricing__wrapper{
    display: flex;
    flex-direction: column;
}

.pricing__description{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
}

.plans{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.plan{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: calc(100% / 3);
}

.personal__plan{
    border-top: 8px solid rgb(56, 178, 172);
    border-radius: 12px;
}

.enterprise__plan{
    border-top: 8px solid rgb(245, 101, 101);
    border-radius: 12px;
}

.plan__box-1{
padding: 32px 0;
border: 1px solid lightgray;
width: 100%;
}

.plan__box-2{
    border: 1px solid lightgray;
    width: 100%;
    height: 320px;
}

.plan__box-3{
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 0 0 12px 12px;
}

.monthly{
    font-size: 18px;
    color: rgb(169, 167, 167);
}

.plan__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.plan__level{
    font-size: 20px;
    font-weight: 600;
}

.plan__feature{
    color: gray;
}

.plan__title{
    font-size: 24px;
    font-weight: 600;
}

.plan__price{
    font-size: 48px;
    padding: 16px;
}

.plan__btn{
    margin:40px 0;
    padding: 18px 0;
    width: 50%;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 600;
    border: none;
}

.btn-1{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    color: white;
}

.btn-3{
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);
    color: white;
}

.business__plan * {
    border: none;
    background-color: rgb(102, 126, 234);
    color: white;
}

.business__plan{
    border-top: 8px solid rgb(102, 126, 234);
    border-radius: 12px;
    margin: 0 24px;
}

.business__box-2{
    border-top: 1px solid rgb(84, 96, 149);
    border-bottom: 1px solid rgb(84, 96, 149)
}

.btn-2{
    background-color: white;
    color: rgb(100,21,255);
}

/* PRICING EFFECTS */

.plan__btn:hover{
    transform: translateY(-2px) translateX(2px);
    box-shadow: 0 8px 16px rgb(0,0,0, 0.16);
}

/* TESTIMONIALS */

.testimonial__wrapper{
    display: flex;
}

.testimonial__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial__figure{
    width: 50%;
    margin-right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimonial__img{
    width: 100%;
}

.stars{
    color: gold;
    padding-bottom: 16px;
}

.review__title{
    font-size: 20px;
}

.review__para{
    padding: 16px 0;
    font-size: 16px;
}

.client{
    display: flex;
    justify-content: space-between;
}

.client__figure{
    display: flex;
    margin-top: 20px;
}

.client__img{
    height: 80px;
    width: 80px;
    border-radius: 100%;
}

.client__information{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 24px;
}

.client__name{
    font-size: 18px;
    font-weight: 600;
}

.client__role{
    color: gray;
}

.arrow__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.button__divider{
    height: 30px;
    width: 1px;
    background-color: rgb(237,242,247);
    margin: 0 8px;
}

.arrow__button{
    height: 40px;
    width: 40px;
    border-radius: 100%;
    border: none;
    color: rgb(100,21,255);
    background-color: rgb(237,242,247);
}

/* BUTTONS */

.buttons__wrapper{
    display: flex;
    background-color: rgba(100,21,255);
    height: 300px;
    border-radius: 8px;
}

.buttons__description{
    width: 50%;
    display: flex;
    align-items: center;
    margin-left:32px;
    font-size: 30px;
    color: white;
}

.two__buttons--wrapper{
    width: 50%;
    margin-right: 32px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn__get,
.btn__contact{
    height: 60px;
    padding: 0 40px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    color: white;
}

.btn__get{
    margin-right: 28px;
    background-color: rgba(245,101,101);
    border: none;
}

.btn__contact{
    border: 1px solid white;
    background-color: transparent;
}

/* BUTTONS EFFECTS */

.btn__get:hover{
    background-color: rgba(229,62,62);
}

.btn__contact:hover{
    background-color: white;
    color: rgba(100,21,255);
}

/* FOOTER */

footer{
    background-color: rgba(100,21,255);
    padding: 0 32px;
}

.footer__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

.footer__lists{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.footer__links--title{
    margin-bottom: 24px;
}

.footer__links{
    padding: 8px 0;
}

.footer__link--title{
    color: white;
    font-size: 16px;
    font-weight: 600;
}

.footer__link{
    color: white;
    font-size: 14px;
}

.footer__divider{
    width: 100%;
    border: 1px solid gray;
    margin: 72px 0;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__img{
    width: 40px;
    margin-right: 8px;
}

.footer__text{
    font-size: 20px;
    font-weight: 900;
    color: white;
}

.copyright--text{
    color: white;
}

.socials{
    display: flex;
    align-items: center;
}

.social{
    border-radius: 100%;
    background-color: white;
    padding: 10px 12px;
    font-size: 12px;
    margin-left: 16px;
    transition: opacity 300ms ease;
}

/* FOOTER EFFECTS */

.social:hover{
    opacity: 0.7;
    cursor: pointer;
}

.footer__link__hover--effect:hover:after{
    position: absolute;
    content: "";
    bottom: -3px;
    height: 2px;
    background-color: white;
    left: 0;
    width: 100%;
}

@media (max-width: 1024px) {
    .btn__menu{
        display: block;
    }

    .nav__list{
        display: none;
    }
}