@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main{
    padding: 0 32px;
}

.menu__backdrop{
    display: none;
}

.btn__menu{
    display: none;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    padding: 96px 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    position: relative;
}

.text--purple{
color: rgb(100,21,255);
}

p{
    line-height: 1.3em;
}

button{
    cursor: pointer;
}

.section__category{
    color: rgb(100,21,255);
    font-size: 18px;
}

.section__title{
    font-size: 48px;
    font-weight: 900;
    padding-top: 24px;
}

.section__para{
    font-size: 18px;
    padding: 24px 0;
    line-height: 1.5em;
}

/* NAV */
#home{
    padding: 0 32px;
}

.nav__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__img{
    width: 40px;
    margin-right: 12px;
}

.logo--text{
    font-size: 24px;
    font-weight: 600;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__links{
    padding: 28px;
}

.nav__link{
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.nav__btn{
    background-color: rgb(100,21,255);
    padding: 8px 28px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 900;
}

/* NAV EFFECTS */

.logo--text:hover{
    color: rgba(100,21,255,255);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(69, 7, 193);
}

.link__hover--effect:hover {
    color: rgb(82, 17, 210);
    cursor: pointer;
}

.link__hover--effect:hover:after{
position: absolute;
content: "";
height: 3px;
bottom: -3px;
background-color:rgb(69,17,210);
width: 100%;
left: 0;
}

/* HEADER */

.header__wrapper{
    display: flex;
}

.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: left;
}

.header__title{
    font-size: 48px;
}

.header__para{
    font-size: 18px;
    padding: 40px 0;
}

.header__btn--wrapper{
position: relative;
display: flex;
align-items: center;
}

.header__input{
    padding: 24px;
    padding-left: 32px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 40px;
    font-size: 16px;
}

.header__btn{
    position: absolute;
    content: "";
    right: 8px;
    border: none;
    border-radius: 40px;
    background-color: rgb(100,21,255);
    padding: 18px 36px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    
}

.header__figure{
    width: 60%;
    margin-left: 40px;
}

.header__img{
    width: 100%;
}

.customer--text{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    color: lightgray;
}

.customer__img{
    width: 80%;
}

/* FEAUTURES */

.features__wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features__description{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    width: 100%;
    text-align: center;
}

.features{
    display: flex;
    flex-wrap: wrap;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}

.feature{
    width: calc(100% / 3);
    display: flex;
    align-items: flex-start;
    padding: 32px 24px;
}

.feature__img--wrapper{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 100%;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.feature__img{
    height: 25px;
    width: 25px;
}

.feature__info{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.feature__title{
    font-size: 24px;
    margin-bottom: 20px;
}

.feature__para{
    font-size: 16px;
    line-height: 1.5em;
}

/* QUALITY */

.quality__wrapper{
    display: flex;
    text-align: left;
}

.quality__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quality__figure{
    width: 50%;
    border: 1px solid lightgray;
    margin-left: 60px;
}

.quality__img{
    width: 100%;
}

.quality__btn,
.value__btn{
    width: 30%;
    border: none;
    border-radius: 40px;
    background-color:rgb(100,21,255);
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    font-weight: 600;
}

/* STEPS */

.steps__wrapper{
    display: flex;
}

.steps__figure{
    width: 50%;
margin-right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img{
    width: 100%;
}

.steps__description{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
}



.step{
    display: flex;
    padding-top: 36px;
}

.step__description{
display: flex;
flex-direction: column;
margin-left: 24px;
}

.step--number{
    font-size: 40px;
    font-weight: 600;
    color: gray;
}

.step__title{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
}

.step__para{
    font-size: 14px;
    width: 80%;
}

/* VALUES */

.values__wrapper{
    display: flex;
}

.values__description{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.value__figure{
    width: 50%;
    margin-left: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.value__img{
    width: 100%;
}

.values{
    display: flex;
    margin-bottom: 40px;
}

.value{
    margin-right: 24px;
}

.value__top{
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.value__icon{
    background-color: lightgreen;
    border-radius: 100%;
    padding: 8px 14px;
    margin-right: 8px;
}

/* PRICING */

