@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap');
*{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu__backdrop{
    display: none;
}

.btn__menu{
    display: none;
}

.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.container{
    padding: 96px 0;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
    position: relative;
}

.text--purple{
color: rgb(100,21,255);
}

p{
    line-height: 1.3em;
}

button{
    cursor: pointer;
}

/* NAV */
#home{
    padding: 0 32px;
}

.nav__wrapper{
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 100px;
}

.logo{
    display: flex;
    align-items: center;
}

.logo__img{
    width: 40px;
    margin-right: 12px;
}

.logo--text{
    font-size: 24px;
    font-weight: 600;
}

.nav__list{
    display: flex;
    align-items: center;
}

.nav__links{
    padding: 28px;
}

.nav__link{
    font-size: 14px;
    color: black;
    font-weight: 600;
}

.nav__btn{
    background-color: rgb(100,21,255);
    padding: 8px 28px;
    border-radius: 40px;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 900;
}

/* NAV EFFECTS */

.logo--text:hover{
    color: rgba(100,21,255,255);
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(69, 7, 193);
}

.link__hover--effect:hover {
    color: rgb(82, 17, 210);
    cursor: pointer;
}

.link__hover--effect:hover:after{
position: absolute;
content: "";
height: 3px;
bottom: -3px;
background-color:rgb(69,17,210);
width: 100%;
left: 0;
}

/* HEADER */

.header__wrapper{
    display: flex;
}

.header__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    text-align: left;
}

.header__title{
    font-size: 48px;
}

.header__para{
    font-size: 18px;
    padding: 40px 0;
}

.header__btn--wrapper{
position: relative;
display: flex;
align-items: center;
}

.header__input{
    padding: 24px;
    padding-left: 32px;
    width: 100%;
    border: 1px solid lightgray;
    border-radius: 40px;
    font-size: 16px;
}

.header__btn{
    position: absolute;
    content: "";
    right: 8px;
    border: none;
    border-radius: 40px;
    background-color: rgb(100,21,255);
    padding: 18px 36px;
    color: white;
    font-size: 16px;
    font-weight: 600;
    
}

.header__figure{
    width: 60%;
    margin-left: 40px;
}

.header__img{
    width: 100%;
}

.customer--text{
    padding-top: 70px;
    padding-bottom: 20px;
    font-size: 12px;
    font-weight: 600;
    color: lightgray;
}

.customer__img{
    width: 80%;
}